---
# Registrator watches the Docker socket and registers/deregisters containers
# in the Consul server running in Kubernetes.
#
# Set CONSUL_HTTP_ADDR to the Consul LoadBalancer IP from K8s:
#   kubectl -n network get svc consul -o jsonpath='{.status.loadBalancer.ingress[0].ip}'
#
# Set CONSUL_TOKEN to the registrator ACL token created by setup-consul-acl.sh.

services:
  registrator:
    image: hypolas/registrator:latest
    container_name: registrator
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    command: >-
      -internal=false -explicit=true -cleanup -tags=kubernetes
      consul://${CONSUL_HTTP_ADDR:?Set CONSUL_HTTP_ADDR to Consul LB IP}:8500
    environment:
      CONSUL_HTTP_TOKEN: ${CONSUL_TOKEN:?Set CONSUL_TOKEN to registrator ACL token}
